/*--------------------------------------------------------------
1.0 Normalize
--------------------------------------------------------------*/
body{
	font-family: 'Abel';
	font-size: 1.6em;
	font-size: 1.6rem;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Titillium Web';
}

b,
strong,
th,
optgroup,
dt{
	font-family: 'Titillium Web';
}

b,
strong {
  font-weight: 600;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

table {
	width: 100%;
}

.entry-content p,
.entry-content li,
.entry-content blockquote,
.entry-content dd,
.entry-content th,
.entry-content td{
	font-size: 1.8em;
	font-size: 1.8rem;
}

.entry-content dt{
	font-size: 1.8em;
	font-size: 1.8rem;
}

.entry-content ul,
.entry-content ol{
	padding: 0 0 0 35px;
}

.dropcap {
	float:left;
	color: #2c2929;
	font-size:63px;	
	line-height:55px;
	padding-right:25px;	
	padding-top:2px;
	font-family:Arial, Helvetica, sans-serif;
	/*text-shadow: 2px 2px 1px #eee,3px 3px 1px #7b599b;*/
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
 }

/*--------------------------------------------------------------
2.0 Links
--------------------------------------------------------------*/
a{
	color: #7b599b;
}
a:hover,
a:focus,
a:active {
	color: purple;
	text-decoration: none;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
	text-decoration: none;
}

/*--------------------------------------------------------------
3.0 Header
--------------------------------------------------------------*/
.site-header{}
.site-branding{
	text-align: center;
}
.site-title{
	font-size: 36px;
	font-size: 3.6rem;
	font-weight: 600;
}
.site-description{
	color: #26333a;
}

/*--------------------------------------------------------------
4.0 Form
--------------------------------------------------------------*/
.form-control:focus {
    border-color: #7B599B;
    box-shadow: 0 1px 1px rgba(123, 89, 155, 0.075) inset, 0 0 8px rgba(123, 89, 155, 0.6);
    outline: 0 none;
}

/*--------------------------------------------------------------
4.0 Post
--------------------------------------------------------------*/
.thumbnail {
	border: none;
	border-radius: 0;
	padding: 0;
}


/*--------------------------------------------------------------
4.0 Placeholder color
--------------------------------------------------------------*/
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #999;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #999;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #999;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #999;
}


blockquote {
	border-left: none;
	position: relative;
	padding: 15px 40px;
	font-family: 'Lato';
	font-style: italic;
}

blockquote:before {
	content: '\f10d';
	font-family: 'Fontawesome';
	font-size: 30px;
	font-style: normal;
	position: absolute;
	left: 0;
	top: 0;
}

blockquote p:after {
	bottom: -10px;
	content: '\f10e';
	font-family: 'Fontawesome';
	font-size: 30px;
	font-style: normal;
	padding-left: 15px;
	position: absolute;
}

@media (min-width: 768px) {
	.left-pull {
		float: left;
		max-width: 45%;
		margin-right: 15px;
		width: 100%;
		text-align: right;
	}
	.right-pull {
		float: right;
		max-width: 45%;
		margin-left: 15px;
		width: 100%;
		text-align: left;
	}
}